h1 {
    color: #fff;
    padding: 0 30px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div {
    width: 500px;
    height: 500px;
    background-color: orange;
}

