.main {
    background-color: whitesmoke;
}

* {
    background-color: #ffffff;
}

h1 {
    border: 1px solid #172c45;
    padding: 10px;
    background-color: palegoldenrod;
}

.h1 {
    background-color: lightpink;
}

#h1 {
    background-color: deepskyblue;
}
